<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content" class="bg-dark">
    <main>

      <div class="container-fluid bg-dark">
        <router-outlet></router-outlet>
        
      </div>
    </main>
    <footer class="py-4 bg-dark mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <label></label>
            <div class="text-light">
              Copyright &copy; Projeto jovens profissionais Indra 2021
            </div>
        </div>
      </div>
  </footer>
  </div>
</div>